#header
{
	height:88px;
}

#header ul
{
	padding:25px 0px 16px 0px;
	margin:0px;
    text-align: right;
}

#header ul li
{
	display: inline;
}

#header ul li a
{
	color:#1AAB9F;
	font-size:15px;
	text-align: center;
	font-weight:bold;
	padding:0px 8px;
}

#header ul li a:hover 
{
	background-color:#282828;
}

#header ul li a:hover, #mainmenu ul li.active a
{
	color: #1AAB9F;
	background-color:#282828;
	text-decoration:none;
}

#mainmenu ul li a img
{
    width: 40px;
    height: 40px;
    padding:0px 0px 0px 0px;
}

.navbar-fixed-top{
position: fixed;
}

/*
* Makes colorpicker show up on top of modal window.
*/
.colorpicker
{
	z-index: 1060;
}
