#mainmenu
{
	top: 85px;
	background:transparent;
	position: fixed;
}

#mainmenu ul
{
	margin:0px;
    padding:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#1AAB9F;
	background-color:transparent;
	font-size:15px;
	text-align: left;
	font-weight:bold;
	text-decoration:none;
    padding:0px 0px 0px 0px;

}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #1AAB9F;
	background-color:#ffffff;
	text-decoration:none;
}

#mainmenu ul li a img
{
    width: 60px;
    height: 60px;
    padding:10px 10px 10px 10px;
}