body
{
	background-color: #F0F0F0;
}

#content
{
    min-height:450px;
}

#header
{
	height:87px;
}

#header ul
{
	padding:25px 0px 16px 0px;
}

#header ul li a
{
	color:#1AAB9F;
	font-size:15px;
	text-align: center;
	font-weight:bold;
	padding:0px 8px;
}

#header ul li a:hover 
{
	background-color:#282828;
}

#header ul li a:hover, #mainmenu ul li.active a
{
	color: #1AAB9F;
	background-color:#282828;
}

#inside-page
{
	background: #ffffff;
    margin-left: 0px;
}

#mainmenu
{
	background:transparent;
	position: fixed;
    width:80px
}

#mainmenu ul
{
	margin:0px;
    padding:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#1AAB9F;
	background-color:transparent;
	font-size:15px;
	text-align: left;
	font-weight:bold;
	text-decoration:none;
    padding:0px 0px 0px 0px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #1AAB9F;
	background-color:#ffffff;
	text-decoration:none;
}

#mainmenu ul li a img
{
    width: 60px;
    height: 60px;
    padding:10px 10px 10px 10px;
}

#menu-background
{
    background: #F0F0F0;
    margin:0px;
}

#page
{
	background: #F0F0F0;
    clear:both;
}

#project-bar
{
margin:0;
height:100%;
}

div.smallNotification
{
	color: #000000;
	text-align:left;
}

/*
* Makes colorpicker show up on top of modal window.
*/
.colorpicker
{
	z-index: 1060;
}
div.view
{
margin: 10px 10px;
height: 300px;
padding: 0;
}

.pagination
{
clear: both;
}
