body
{
	background-color: #F0F0F0;
}

#content
{
    min-height:450px;
}

#header
{
	height:87px;
}

#header ul
{
	padding: 0px 0px 0px 0px;
	top: 22px;
}

#header ul li a
{
	color:#1AAB9F;
	font-size:15px;
	text-align: center;
	font-weight:bold;
	padding:8px 8px;
}

#header ul li a:hover 
{
	background-color:#282828;
}

#header ul li a:hover, #mainmenu ul li.active a
{
	color: #1AAB9F;
	background-color:#282828;
}

#inside-page
{
	background: #ffffff;
    margin-left: 0px;
}

#mainmenu
{
	background:transparent;
	position: fixed;
    width:80px
}

#mainmenu ul
{
	margin:0px;
    padding:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#1AAB9F;
	background-color:transparent;
	font-size:15px;
	text-align: left;
	font-weight:bold;
	text-decoration:none;
    padding:0px 0px 0px 0px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #1AAB9F;
	background-color:#ffffff;
	text-decoration:none;
}

#mainmenu ul li a img
{
    width: 60px;
    height: 60px;
    padding:10px 10px 10px 10px;
}

#menu-background
{
    background: #F0F0F0;
    margin:0px;
}

/*
* Allocates a space for the icon so that 
* the notification count shows up in the right location. 
*/
#notification-icon
{
	width: 40px;
	height: 40px;
}

#notification-menu a .tooltip-inner
{
    top: 4px;
	min-width:20px;
	max-width:200px;
	padding:8px 2px;
	color:#ffffff;
	text-align:center;
	text-decoration:none;
	background-color:#FF0000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:5px;
	position: relative;
	line-height: 5px;
}

#notification-menu .tooltip.top .tooltip-arrow
{
	bottom:-4px;
	margin-left:-5px;
	border-width:5px 5px 0;
	border-top-color:#FF0000;
}

#page
{
	background: #F0F0F0;
    clear:both;
}

div.smallNotification
{
	padding: 4px 4px;
	color: #000000;
	text-align:left;
	border:2px solid;
	width: 130px;
}

#notification-menu .dropdown 
{
	padding-left: 0px;
	padding-right: 0px;
}
/*
* Makes colorpicker show up on top of modal window.
*/
.colorpicker
{
	z-index: 1060;
}

div.view
{
	margin: 10px 10px;
	border: 2px solid #000000;
	border-color: #1AAB9F;
}

.tile
{
    padding: 5px;
    height: 300px;
    border-left: 10px solid #ffc0cb;
    overflow: auto;
}

.navbar-inner .container
{
	width: 950px;
}

.pagination
{
	clear: both;
}

#yw6 .nav-header
{
	font-weight:normal;
	padding: 0px 0px;
	text-transform: none;
	margin-left:9px;
}
#yw6 .list-view
{
	padding-top: 0px;
}
 .dropdown-menu .divider
{
	height: 2px;
	margin: 5px 0px;
	overflow: hidden;
	background-color: #1AAB9F;
	border-bottom: 0px #ffffff;
}

#content .list-view{
	padding-top:0px
}


