
body
{
	background-color: #F0F0F0;
	margin: 0;
	padding: 0;
	font: normal 11pt Calibri;
}

select {
font-family: "Calibri";
}

input {
font-family: "Calibri";
}

#content
{
    min-height:500px;
    margin-left: 0px;
}

#content div.flash-success 
{
	width: 825px;
	padding: 4px 8px;
	text-align: center;
}

#header
{
	height:87px;
}

#header ul
{
	padding: 0px 0px 0px 0px;
	top: 28px;
}

#header ul li a
{
	color:#2A867D;
	text-align: center;
 	padding:4px 8px;
	line-height: 3; 
}

#header .dropdown-menu>li>a:hover {
	background-color: #D0D0D0; 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E8E8E8 ), to(#F8F8F8));
	color:#585858;
}

#header .navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right
{
	left: auto;
	right: 18px;
	margin: 20px 0 0;
}

#header .navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav 
{
	background-color: transparent;
}

#inside-page
{
	background: #ffffff;
    margin-left: 0px;
}

#mainmenu
{
	background:transparent;
	position: fixed;
    width:80px
}

#mainmenu ul
{
	margin:0px;
    padding:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#2A867D;
	font-size:16px;
	background-color:transparent;
	text-align: left;
	text-decoration:none;
    padding:0px 0px 0px 0px;
}


#mainmenu ul li a:hover
{
	background-color:#F8F8F8;
}

#mainmenu ul li.active a
{
	background-color:#ffffff;
    border-right-width: 0px;
}

#mainmenu ul li a img
{
    width: 60px;
    height: 60px;
    padding:10px 10px 10px 10px;
}

#menu-background
{
    background: #F0F0F0;
    margin:0px;
}

/*
* Allocates a space for the icon so that 
* the notification count shows up in the right location. 
*/
#notification-icon
{
	width: 35px;
	height: 35px;
}

#notification-icon:hover {
   background-image: url('Notificationbutton-hover.png');
   background-size:35px 35px;
}

#notification-icon .dropdown-toggle:active {
	background-image: url('Notificationbutton-hover.png');
   background-size:35px 35px;
}

#message-icon
{
	width: 35px;
	height: 35px;
}

#message-icon:hover {
   background-image: url('messages-hover.png');
   background-size:35px 35px;
}

#message-icon .dropdown-toggle:active {
	background-image: url('messages-hover.png');
   background-size:35px 35px;
}

#notification-menu a .tooltip-inner, #message-icon + div .tooltip-inner
{
    top: 6px;
	min-width:20px;
	max-width:200px;
	padding:8px 2px;
	color:#ffffff;
	text-align:center;
	text-decoration:none;
	background-color:#FF0000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:5px;
	position: relative;
	line-height: 5px;
}

#notification-menu .tooltip.top .tooltip-arrow, #message-icon + .tooltip.top .tooltip-arrow
{
	bottom:-4px;
	margin-left:-5px;
	border-width:5px 5px 0;
	border-top-color:#FF0000;
}

#page
{
	background: #F0F0F0;
    clear:both;
    max-width: 910px;
}

div.smallNotification
{
	color: #000000;
	text-align:left;
	position:relative;
	text-transform: none;
}

#notification-menu .dropdown 
{
	padding-left: 0px;
	padding-right: 0px;
}
/*
* Makes colorpicker show up on top of modal window.
*/
.colorpicker
{
	z-index: 1060;
}

div.tile-view
{
	margin: 10px 0px;
	margin-right: 20px;
	border:3px solid #D8CACA;
	margin-right: 13px;
	margin-left: 13px;
}

div.view {
	border:3px solid #D8CACA;

}
.fake-empty
{
    color: #000000;
    border: none !important;

    cursor: default;
}

.tile
{
    padding: 10px;
    height: 300px;
    border-left: 10px solid #ffc0cb;
	position: relative;
	-webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.33);
	box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.33);
}

.tile-top {
    height: 90px;
	overflow: auto;
}

.tile-bottom {
	bottom: 10px;
	width: 91%;
	position: absolute;
	line-height: 17px;
}

.tile-view .progress .bar-info{
    background-color: #d0d0d0;
    background-image: linear-gradient(to bottom, #dadada, #bababa);
}
.navbar-inner .container
{
	max-width: 910px;
}
/**
*  We have to explicitly set the position to fixed so the
* title bar stays at the top of the screen for all widths.
*/
.navbar-fixed-top
{
    position: fixed;
}

.pagination
{
	clear: both;
}

 .dropdown-menu .divider
{
	height: 2px;
	margin: 5px 0px;
	overflow: hidden;
	background-color: #1AAB9F;
	border-bottom: 0px #ffffff;
}

#notification-menu .nav-header .list-view{
	padding-top:0px
}

#notification-menu .nav-header{
	padding-left: 0px;
	padding-right: 0px; 
}

#notification-button .empty{
	padding:4px; 
	text-transform:none;
	font-style:italic;
}

#notification-button .dropdown-menu .divider {
	margin: 0px 0px;
}

#span_read
{
  width:95%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: none;
  position:absolute; 
}

#span_read2
{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: none;
}
.small_read:hover{
	background-image: linear-gradient(to bottom, #DFDFD4, #E3FFE3);
}

.small_unread:hover{
	background-image: linear-gradient(to bottom, #DFDFD4, #FFFFFF);
}

.read:hover
{
	background-image: linear-gradient(to bottom, #DFDFD4, #E3FFE3);
}

.unread:hover
{
	background-image: linear-gradient(to bottom, #DFDFD4, #FFFFFF);
}

#header .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
{
	background-image: linear-gradient(to bottom, #D8D8D8, #A8A8A8);
	color: white;
}

.read {
	position:relative;
	background-color:#FFFFFF;
	padding: 8px 8px;
}

.unread {
	position:relative;
	background-color:#B2FFB2;
	padding: 8px 8px;
}

.small_unread {
	position:relative;
	background-color:#B2FFB2;
	padding: 8px 8px;
	border-top: thin solid #B2B2B2;
}

.small_read {
	position:relative;
	background-color:#FFFFFF;
	padding: 8px 8px;
	border-top: thin solid #B2B2B2;
}

.tile-bottom .progress {
	margin-bottom: 5px;
	margin-top: 1px;
	border-radius: 0px;
	height: 17px;
}

.btn {
	border-radius: 0px;
}

#notification-button .caret {
	 border-top: 0px solid #000000; 
}

#hide_arrowForMessage .caret {
	 border-top: 0px solid #000000; 
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5{
 font-family: Georgia;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 15px;
	line-height:5px;
	
}

label {
	font-family: Georgia;
}

#login-dropdown  .navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right
{
 right: -7px;
} 

#login-dropdown {
	top: -5px;
}

.list-view .items .view{
 margin:10px;
}

.form-actions {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0px;
	background-color:transparent;
	border-top: 0px;
}

.dropdown-toggle {
	font-weight:bold;
}

.Login-content {
	position: absolute;
	top: 88px;
	background-image:url('Homepage-Banner21.jpg');
	background-size:100% 100%;
	min-height: 539px;
	left:0;
    right:0;
} 

.Login-wallpaper {
	padding:20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	background-color: white;
	border-radius:10px;
}

#errormsg {
	color:red;
	font-style:italic;
}

#Sign_in_button {
	Margin-top:4px;
	margin-bottom: 4px;
}

.datepicker td, .datepicker th {
  border-radius: 0px !important;
 -webkit-border-radius: 0px !important;
  border:1px solid white  !important;
}

#out-box-btn {
	float:right
}

#outbox-button-div {
	margin-right: 0px !important;
}

#list-files-btn {
	float:right !important;
}

#project-button-div{
	width:320px !important; 
	margin-right: 0px !important;
}

.span-3 {
margin-right: 0px !important;
}

#modal-warning-title {
 font-family: Georgia;
}

#view-doc-repo-btn{
 padding: 0px !important;
 margin-right: 0px;
}

#create-task-btn-span{
	margin-left: 0px;
}

#add-role-btn-span{
	margin-left: 0px;
}

#confirm-role-btn{
	margin-bottom: 9px;
}

i {
 `	transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5); /* IE 9 */
    -moz-transform:scale(1.5,1.5); /* Firefox */
    -webkit-transform:scale(1.5,1.5); /* Safari and Chrome */
    -o-transform:scale(1.5,1.5);
}
